body{
    background-color: rgb(105, 248, 217);
}
.head {
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    background:  #395ed8;
    position: flex;
    width: 100%;
}

.navbar {
    display: flex;
    margin-left: 1100px;
}
.navbar a {
    display: flex;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a:hover {
    background: #3f3f3f;
}

.mensaje {
    margin-top: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 300px;
    margin-left: 25%;
    background: #7d9ff6;
    margin-bottom: auto;
}
.nav{
    margin-left: 200px;
    border: 2px solid;
    border-color:rgb(134, 134, 244);
    background: rgb(134, 134, 244);
    border-radius: 35px;
    font-size: 33px;
    color: rgb(0, 0, 0);
}
.nav:hover{
    border-color: purple;
    transition: -5s;
}
.headers{
    display: flex;
    margin-right: 100px;
}

.title {
    margin-top: 00px;
    font-size: 30px;
    font-weight: 600;
    text-transform:initial;
    color: rgb(6, 6, 6);
    margin: 20px; 
}