body{
    background-color: white;
}
.head {
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    background: #0048ff;
    position: flex;
    width: 100%;
}
.logo{
    margin-left: 5px;
    margin-top: 5px;
}
.Solici {
    display: flex;
    margin-right: 100px;
}
.Solici a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar {
    display: flex;
    margin-right: 10px;
}
.navbar a {
    display: flex;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a:hover {
    background: #3f3f3f;
}
.header {
    display:flex;
    justify-content: left;
    align-items:center;
    height: 40vh !important;
}
.title {
    margin-top: 00px;
    font-size: 30px;
    font-weight: 600;
    text-transform:initial;
    color: rgb(6, 6, 6);
    margin: 20px; 
}
.button{
    margin-top: 10px;
    margin-left: 1000px;
    width: 150px;
    height: 40px;
    border: 2px solid;
    border-color:rgb(134, 134, 244);
    background: rgb(134, 134, 244);
    border-radius: 35px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
}
.button:hover{
    border-color: purple;
    transition: -5s;
}
.datos{
    position: center;
    margin:center;
    padding: center;
    margin-left: 27%;
    margin-right: 40%;
    color:black;
}
/*p{
    margin-top: 17px;
    position: right;
    margin-left: 80%;
    width: 150px;
    height: 90px;
    color: white;
}