*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-image: url(img/fondoClinica.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #6699;

}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #0048ff;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}


.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

.header {
    display:flex;
    justify-content: left;
    align-items:center;
}

.header {
    height: 40vh !important;

}

.title {
    font-size: 30px;
    font-weight: 600;
    text-transform:initial;
    color: rgb(6, 6, 6);
    margin: 20px; 
}



table{
    border-collapse:collapse;
    margin: 20px;  
}
th,tr,td{
	border:1px solid #000;
	width:150px;
	height:45px;
	vertical-align:middle;
	text-align:center;
}
th{
	color:rgb(0, 0, 0);
	background-color: #729dd8;
}

tr:nth-child(odd) td{
	background-color:rgb(205, 205, 205);
}
